@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply h-full w-full;
}

.Toastify__toast {
	z-index: 9999;
}
.Toastify__toast--success {
	@apply bg-[#d6eade] text-success;
}

.Toastify__toast--danger,
.Toastify__toast--error {
	@apply bg-[#f0d6d6] text-danger;
}
.Toastify__toast--warning {
	@apply bg-[#f5eadd] text-warning;
}
.Toastify__toast--info,
.Toastify__toast--information {
	@apply bg-[#deeef5] text-info;
}

.Toastify__toast-body {
	font-family: "Inter", sans-serif;
	@apply font-semibold tracking-wide text-sm;
}

.rbc-day-slot .rbc-event {
	@apply !flex-col;
}

.rbc-event-label {
	@apply !text-[10px] font-bold;
}
.rbc-event-content {
	@apply !text-xs;
}
@font-face {
	font-family: 'Qwitcher Grypen';
	src: url('/QwitcherGrypen-Regular.woff2') format('woff2'),
		 url('/QwitcherGrypen-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }

  .draggable-container {
	position: absolute;
	transition: all 0.3s ease; /* Smooth transition for size changes */
  }
  
  .minimized {
	width: 180px; /* Adjust as needed */
	height: 40px; /* Adjust as needed */
	overflow: hidden;
	z-index: 1000; /* Ensure it's on top when minimized */
  }
  
  .expanded {
	width: 300px; /* Adjust as needed */
	height: 200px; /* Adjust as needed */
	z-index: 500; /* Lower z-index when expanded */
  }
  
  .minimized-position {
	top: 50px; /* Adjust as needed */
	left: 200px; /* Adjust as needed */
  }
  
  .expanded-position {
	top: auto; /* Adjust as needed */
	left: auto; /* Adjust as needed */
  }
